.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-head{
  text-align: center;
  color: rgb(204, 19, 19);
  background-color: rgb(218, 235, 202);
  font-style: italic;
  padding: 1%;
  margin:20px;
  height: 95vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.color{
  background-color: #fbdc61;

}
.position{
  position: sticky;
  width: 100%;
  top:0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.App-footer{
  height: 10%;
  background-color: rgb(88, 171, 10);
  display: inline-flex;
  margin: 15px;
  resize: vertical;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
 }
 .todo-item p {
  color: #888;
  /* text-decoration: line-through; */
 }
